.header {
    // img {
    //     opacity: 0;
    //     pointer-events: none;
    // }
    .container {
        padding-top: 20px;
    }
    height: 112px;
    width: 100%;
    background: #383636;
    
    &__wrapper {
        display: flex;
        color: #fff;
        justify-content: space-between; 

        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    &__wrapper {
        &._active {
            transform: translate(0px, 0%);
            opacity: 1;
        }
    }

    &__btn {
        
        .call_back {
            width: 235px;
            height: 75px;
            background-color: $main-color;
            color: #fff;
            border-radius: 5px;
            border: none;
            font-size: 24px;
            font-weight: 700;
            &:hover {
                background-color: #fff;
                color: $main-color;
                transition: 0.7s;
                position: relative;
                z-index: 5;
                
                
            }
            --width: 100%;
	        --time: 0.5s;
            position: relative;
	        display: inline-block;
	        overflow: hidden;
        }
        
        
    }
    &__pansil {
        display: flex;
        align-items: center;
        font-weight: 700;
        a {
            color: #fff;
            &:hover {
                color: red;
                transition: 0.7s;
            }
        }
    }
    &__location {
        display: flex;
        align-items: center;
        font-weight: 700;
        img {
            margin-top: -10px;
        }
        a {
            color: #fff;
            margin: 5px;
            &:hover {
                color: red;
                transition: 0.7s;
            }
        }
        
    }
    &__phone {
        display: flex;
        align-items: center;
        font-weight: 700;
        .title {
            a {
                color: #fff;
                text-decoration: none;
                margin: 5px;
                &:hover {
                    color: red;
                    transition: 0.7s;
                }
            }
        }
    }
    
    
}