.header {
    .container {
        padding-top: 20px;
    }
    height: 128px;
    width: 100%;
    background: #383636;
    
    &__wrapper {
        display: flex;
        color: #fff;
        justify-content: space-between;
        
    }
    &__btn {
        
        .call_back {
            width: 235px;
            height: 97px;
            background-color: $main-color;
            color: #fff;
            border-radius: 5px;
            border: none;
            font-size: 24px;
            font-weight: 700;
            &:hover {
                background-color: #fff;
                color: $main-color;
                transition: 0.5s;
                position: relative;
                z-index: 5;
                
                
            }
            --width: 100%;
	        --time: 0.5s;
            position: relative;
	        display: inline-block;
	        overflow: hidden;
        }
        
        
    }
    &__pansil {
        display: flex;
        align-items: center;
        font-weight: 700;
        a {
            color: #fff;
            &:hover {
                color: red;
                transition: 0.7s;
            }
        }
    }
    &__location {
        display: flex;
        align-items: center;
        font-weight: 700;
        a {
            color: #fff;
            &:hover {
                color: red;
                transition: 0.7s;
            }
        }
        
    }
    &__phone {
        display: flex;
        align-items: center;
        font-weight: 700;
        .title {
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: red;
                    transition: 0.7s;
                }
            }
        }
    }
    
    
}
/*@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}

/*.HOVER {
	--width: 100%;
	--time: 0.7s;

	position: relative;
	display: inline-block;
	color: rgb(194, 34, 34);
	background: #222;
	overflow: hidden;
    &:hover {
        color: $main-color;
    }
}

.HOVER text {
	position: relative;
	z-index: 5;
	
	transition: color var(--time);
}


.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover text {
	color: white;
}

.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}*/

