
.screan.active .screan__wrapper {
    transform: translate(0px, 0%);
    opacity: 1;
}

.screan {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    //display: none;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.8s ease 0s; 
    &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transition: all 0.8s ease 0s;  
    }
    

    &__wrapper {
        position: relative;
        left: 25%;
        top: 15%;
        border: 1px rgba(188, 176, 176, 1) solid;
        box-shadow: 2px 2px 20px rgba(188, 176, 176, 1) ;
        width: 800px;
        height: 400px;
        border-radius: 20px;   
        background-color: honeydew;
        

        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        opacity: 0;
        transition: all 0.8s ease 0s; 
    }
    &__logo {
        margin-top: 30px;
        margin-left: 30px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px 0 20px;
        margin-top: 20px;
        p { 
            margin-top: 8px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 200;
            font-size: 11px;
            line-height: 13px;
        }
        img {
            width: 33px;
            margin-top: -89px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
                transition: 0.5s;
                transform: scale(2) rotate(190deg);

            }
        }
        
    }
    &__offer {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 200;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        margin-left: 24%;
        margin-top: 20px;
    }
    &__policy {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 200;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        margin-left: 10%;
        margin-top: 15px;
    }

    &__descr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 483px;
        height: 58px;
        margin-top: 15px;
        margin-left: 24%;

        .time {
            display: flex;
            justify-content: flex-end;
            margin-top: -24px;
            margin-right: 176px;
            p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */
                color: #000000;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        input {
            width: 39px;
            height: 22px;
            background: #FFFFFF;
            border: 1px solid #CFC5C5;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */
            color: #000000;
        }
    }

    &__input {
        display: flex;
        margin-top: 60px;
        margin-left: 24%;
        input {
            width: 217px;
            height: 44px;
            background: #F8F3F3;
            border: 1px solid #BCB0B0;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding-left: 20px;
            margin-right: 14px;
        }
        .btn {
            width: 139px;
            height: 44px;
            background: #E41F1F;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            color: #fff;
            &:hover {
                background-color: #FFFFFF;
                color: $main-color;
            }
        }
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            /* identical to box height */
            color: #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 14px;
        }
    }
        
}

// .show {
//     display: block;
//     transition: 0.6s; 
// }
// .hide {
//     display: none;
// }