.hide {
    display: none;
    
}
.block {
    //width: 100%;
    &__item {
        transition: all 0.8s ease 0s;
        opacity: 0;
        margin: 20px 0px 0px 0px;
        position: fixed;
        left: 20px;
        right: 0;
        top: 66px;
    }
    &__item {
        &._active {
            opacity: 1;
            transition: all 0.8s ease 0s;
        }
    }
    &__title {
        //text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        padding: 0px 0px 0px 30px;
        
        img {
            width: 60px;
            //border: 3px solid blue;
            //border-radius: 100%;
        }
        &::before,
        &::after {
            //content: '';
            width: 10px;
            height: 1px;
            position: absolute;
            top: 10px;
            background-color: #000;
            transition: all 0.3s ease 0s;
        }
        
    }
    
    &__text {
        display: none;
        padding: 10px 0px 0px 0px;
    }
}
.block__title::before {
    transform: rotate(40deg);
    left: 0;
}
.block__title::after {
    transform: rotate(-40deg);
    left: 8px;
}
.block__title.active::before {
    transform: rotate(-40deg);
    background-color: red;
}
.block__title.active::after {
    transform: rotate(40deg);
    background-color: red;
}
.block__title.active img {
    //background-color: red;
    border: 3px solid red;
    border-radius: 100%;
    transform: rotate(180deg);
    transition: all 0.6s ease 0s;
}
